<div class="row medium-collapse large-collapse show-for-medium-up">
  <div class="large-12 medium-12 columns">
    <div class="large-4 medium-4 columns">
      <img src="/assets/edsa.png" style="height: 170px; margin-left:30px;">
    </div>
    <div class="large-4 medium-4 columns">
      <img src="/assets/pais.png" style="height: 170px;">
    </div>
    <div class="large-4 medium-4 columns end">
      <div style="width: 300px; margin-top: 25%;">
      
        <%= search_form_for @q do |f| %>
            <div class="large-7 medium-7 columns" style="padding-right:0px; padding-left:8px;">
               <%= f.search_field :name_cont, required: true, placeholder: "Búsqueda", class: "form-control" %>
            </div>
            <div class="large-5 medium-5 columns" style="padding-left:0px; padding-right:0px;">
              <%= f.submit "Buscar", class: "button small search-button-height", style: "background: #369A30; height: 37px;"%>
            </div>
        <% end %>
      </div>       
    </div>
  </div>
</div>

<div class="contain-to-grid sticky" style="-webkit-box-shadow: 0px 2px 5px 0px rgba(207,207,207,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(207,207,207,1);
box-shadow: 0px 2px 5px 0px rgba(207,207,207,1);">
<nav class="top-bar" data-options="sticky_on: [medium,large]" data-topbar role="navigation">
    <ul class="title-area">
       
      <li class="name">
        <h1>
          <%= link_to "Inicio", root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
       
      <ul class="right">
        <li class="divider"></li>
        <li>
          <%= link_to "Normatividad", normatividad_path %>
        </li>
        <li class="divider"></li>
        <li>
        <%= link_to "Información de Interés", informacion_de_interes_path %>
        </li>
        <li class="divider"></li>
        <li>
        <%= link_to "Informes de Gestión", informes_de_gestion_path %>
        </li>
        <li class="divider"></li>
        <li>
        <%= link_to "Nuestra Entidad", nuestra_entidad_path %>
        </li>
      </ul>
    </section>
  </nav>
</div>